<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ece1779manager</display-name>
  <welcome-file-list>
    <welcome-file>ManagerLogin.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>managerID</param-name>
    <param-value>ece1779</param-value>
  </context-param>
  <context-param>
    <param-name>managerPassword</param-name>
    <param-value>ece1779</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ec2Initialization</display-name>
    <servlet-name>ec2Initialization</servlet-name>
    <servlet-class>ece1779.ec2.init.ec2Initialization</servlet-class>
    <init-param>
      <param-name>AWSaccessKey</param-name>
      <param-value>AKIAJTSU5KGNMMTVUJHA</param-value>
    </init-param>
    <init-param>
      <param-name>AWSsecretKey</param-name>
      <param-value>lmRSoq5mvANLl2aHQRE39a4Y25QFS3Fv/ljJX0KJ</param-value>
    </init-param>
    <init-param>
      <param-name>dbDriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dbURL</param-name>
      <param-value>jdbc:mysql://ece1779winter2015db.cf2zhhwzx2tf.us-east-1.rds.amazonaws.com/ece1779group10</param-value>
    </init-param>
    <init-param>
      <param-name>dbUser</param-name>
      <param-value>group10</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value>2192143945</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ec2Initialization</servlet-name>
    <url-pattern>/ec2Initialization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>ece1779.ec2.controllers.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManualAdjust</display-name>
    <servlet-name>ManualAdjust</servlet-name>
    <servlet-class>ece1779.ec2.controllers.ManualAdjust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManualAdjust</servlet-name>
    <url-pattern>/ManualAdjust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoScaling</display-name>
    <servlet-name>AutoScaling</servlet-name>
    <servlet-class>ece1779.ec2.controllers.AutoScaling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoScaling</servlet-name>
    <url-pattern>/AutoScaling</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>ece1779.ec2.monitor.MonitorListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>ece1779.ec2.controllers.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>